* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 520px){
    .title {
        font-size: 20px;
    }
}

.title h1 {
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    font-size: 40px;
}

/* begin dark theme styles */
.toggle-icon {
    position: fixed;
    top: 3%;
    right: 2%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 10;
}

.dark-theme {
    background-color: #161515;
    color: white;
    
    .navbar {
        background-color: #161515;
        color: white;
        box-shadow: rgb(78, 78, 78) 0px 1px 15px;
    }

    .navbar-items li a {
        color: white;
    }

    .navbar-items li a:hover {
        color: rgb(187, 186, 186);
    }    

    .toggle-icon {
        filter: invert(1);
    }

    .experience-header button {
        background-color: white;
        color: #161515;
    }

    .experience-header button:hover {
        box-shadow: rgba(98, 98, 98, 0.35) 0px 3px 5px;
    }

    .content-section {
        box-shadow: rgba(98, 98, 98, 0.35) 0px 5px 15px;
    }
    
    .content-section:hover {
        box-shadow: rgba(98, 98, 98, 0.35) 0px 10px 20px;
    }

    .photo {
        box-shadow: rgba(98, 98, 98, 0.35) 0px 3px 5px;
    }

    .contact-icon {
        filter: invert(1);
    }
}

/* end dark theme styles */

/* begin navbar styles */
.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.navbar-items {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.navbar-items li {
    flex: 1 1 auto;
    text-align: center;
    font-size: 30px;
    padding: 0 10px;
}

.navbar-items li a {
    text-decoration: none;
    color: black;
}

.navbar-items li a:hover {
    color: rgb(99, 99, 99);
}

@media (max-width: 840px){
    .navbar-items {
        display: grid;
    }

    .navbar-items li {
        padding: 5px;
    }

    .content {
        margin-top: 11rem;
    }
}

@media (max-width: 520px){
    .navbar-items li {
        font-size: 20px;
    }

    .content {
        margin-top: 7rem;
    }

    .toggle-icon {
        height: 30px;
        width: 30px;
        top: 4%;
        right: 2%
    }
}
/* end navbar styles */

/* begin content styles */
.content {
    padding: 10rem 20% 1rem 20%;
}

@media (max-width: 840px){
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.content-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    scroll-margin-top: 160px;
}

.content-section:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}
/* end content styles */

/* begin about section styles */
.photo {
    border-radius: 8px;
    margin-right: 30px;
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.about-section {
    display: flex;
    padding-bottom: 30px;
}

.about-text {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
}

@media (max-width: 1515px){
    .about-section {
        display: block;
    }

    .photo {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        display: block;
    }

    .about-text {
        padding: 30px 20px 0 20px;
    }
}
/* end about section styles */

/* begin experience section styles */

.experience-header {
    display: flex;
    justify-content: space-between;
}

.experience-header button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 25px;
}

.experience-header button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    cursor: pointer;
}

.experience-section {
    line-height: 25px;
    padding-bottom: 30px;
}
/* end experience section styles */

/* begin contact section styles */
.contact-section {
    padding-bottom: 30px;
}

.contact-section img {
    height: 40px;
    padding-right: 15px;
}
/* end contact section styles */
