* {
    font-family: "Roboto Slab";
}

body {
    margin: 0;
}

.content {
    padding: 1rem 2rem;
}

.title {
    font-size: 25px;
    text-align: center;
}

/* begin navbar styles */
.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
    color: white;
}

.navbar-items {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    list-style-type: none;
}

.navbar-items li {
    flex: 1 1 auto;
    text-align: center;
    font-size: 30px;
    padding: 0 10px;
}

.navbar-items li a {
    text-decoration: none;
    color: white;
}

.navbar-items li a:hover {
    color: rgb(179, 179, 179);
}

@media (max-width: 690px){
    .navbar-items {
        display: grid;
    }

    .navbar-items li {
        padding: 5px;
    }
}
/* end navbar styles */

/* begin content styles */
.content {
    padding-left: 20%;
    padding-right: 20%;
}

.photo {
    border-radius: 8px;
    width: 500px;
}
